
<!DOCTYPE html>
<!--[if IE 8]> <html class="ie8" xmlns:th="http://www.thymeleaf.org"> <![endif]-->
<!--[if IE 9]> <html class="ie9" xmlns:th="http://www.thymeleaf.org"> <![endif]-->
<!--[if !IE]><!-->
<html xmlns:th="http://www.thymeleaf.org">
<!--<![endif]-->
<head>
<div th:replace="fragments/css" />
<title>Call History</title>
</head>
<body>
	<div id="wrapper" ng-app="app">
		<div th:replace="fragments/siteheader"></div>
		<section id="content">
			<div class="container" ng-controller="CallHistoryController"
				id="CallHistoryController">
				<div class="md-margin"></div>
				<div class="row">
					<!-- Search filter starts -->
					<div class="panel panel-info">
						<div class="panel-heading">
							<h3 class="panel-title">
								Search By <img id="spinner" src="/resources/images/loading.GIF"
									style="display: none;" class="ajax-loader" />
							</h3>
						</div>
						<div class="md-margin"></div>

						<div class="input-group col-md-10 col-sm-10">
							<span class="col-md-3 col-sm-3"> <select class="form-control" ng-model="type"
								data-ng-change="filterList()"
								ng-options="type as type for type in searchTypes">
								
							</select> 
							</span>
							<span class="col-md-6 col-sm-6">
							<input type="text" class="form-control" ng-model="searchQuery"
								placeholder="Enter name or number starts with"
								data-ng-change="filterList()" />
							</span>
						</div>

					</div>
				</div>

				<div class="row">
					<div class="col-md-12">
						<div class="xs-margin"></div>

						<table class="table table-borderd" id="calls-table">
							<thead>
								<tr>
									<th class="table-title">SNo</th>
									<th class="table-title">Mobile Number</th>
									<th class="table-title">Contact Name</th>
									<th class="table-title al">Date</th>
									<th class="table-title al">Call Type</th>
								<!-- 	<th class="table-title">Action</th> -->
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="call in calls">
									<td>{{$index+1}}</td>
									<td class="al">{{call.number}}</td>
									<td class="al">{{call.contactName}}</td>
									<td class="al">{{call.date}}</td>
									<td class="al">{{call.actualCallType}}</td>
									<!-- <td>
										<table>
											<tr>
												<td>
													<div>
														<button type="button" title="Delete"
															ng-click="deleteCall($index);">
															<span class="glyphicon glyphicon-trash" />
														</button>
													</div>
												</td>
											</tr>
										</table>
									</td> -->
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</section>
		<div th:replace="fragments/footer"></div>
	</div>
	<div th:replace="fragments/js"></div>
	<script type="text/javascript">
		/*<![CDATA[*/

		$(function() {
			$(window).scroll(function() {
				if ($(window).scrollTop() + $(window).height() >= $('#calls-table').offset().top + $('#calls-table').height() - 200) {
					angular.element($('#CallHistoryController')).scope().startPagination();
				}
			});
		});

		var app = angular.module('app', []);

		// Spinner config
		app.config(function($httpProvider) {
			$httpProvider.responseInterceptors.push('myHDEHttpInterceptor');

			var spinnerFunction = function spinnerFunction(data, headersGetter) {
				$("#spinner").show();
				return data;
			};

			$httpProvider.defaults.transformRequest.push(spinnerFunction);
		});

		// Spinner Interceptor
		app.factory('myHDEHttpInterceptor', function($q, $window) {
			return function(promise) {
				return promise.then(function(response) {
					$("#spinner").hide();
					return response;
				}, function(response) {
					$("#spinner").hide();
					return $q.reject(response);
				});
			};
		});

		app.controller("CallHistoryController", function($scope, $http) {

			$scope.pageNo = 0;
			$scope.calls = [];
			$scope.isPaginationStart = false;
			$scope.isPaginationCompleted = false;
			
			$scope.searchTypes = [];
			$scope.searchTypes.push('Number');
			$scope.searchTypes.push('Name');
			$scope.type = 'Name';
			$scope.isSearchTermExist = false;

			$scope.startPagination = function() {
				if (!$scope.isPaginationStart && !$scope.isPaginationCompleted) {
					$scope.isPaginationStart = true;
					$scope.paginate();
				}
			};

			$scope.paginate = function() {
				debugger;
				$scope.pageNo = $scope.pageNo + 1;
				var path = contextPath + '/call/list/get/' + $scope.pageNo ;
				var searchTerm = "";
				
				if ($scope.searchQuery) {
					searchTerm = $scope.searchQuery;
					$scope.isSearchTermExist = true;
					path = path + "/" + $scope.type + "/" + searchTerm;
				}
				$http({
					url : path,
					method : 'GET',
					dataType : 'json',
				}).then(function(dataResponse) {
					debugger;
					$scope.isPaginationStart = false;
					if (null == dataResponse || dataResponse.data.length == 0) {
						// empty result means pagination not required
						// more logically we need the total pages for particular request 
						// to stop unwanted pagination request
						$scope.isPaginationCompleted = true;
						$scope.pageNo = $scope.pageNo - 1;
						return;
					}

					var callsList = dataResponse.data;
					// newly coming sms should be add to the old  
					$scope.calls.push.apply($scope.calls, callsList);
				});
			};

			$scope.deleteCall = function(index) {
				var result = confirm("Want to delete?");
				if (result == true) {
					debugger;
					var callId = this.call.serverCallId;
					$http({
						url : contextPath + "/call/delete/" + callId,
						method : 'GET',
						dataType : 'json',
					}).then(function(dataResponse) {
						var data = dataResponse.data;
						if (data.status == "success") {
							$.growl('The call is deleted successfully.', {
								type : 'success'
							});
							$scope.calls.splice(index, 1);
						} else {
							$.growl("Error occured while deleting the batch.", {
								type : 'danger'
							});
						}
						//$scope.get();

					});
				}
			}

			$scope.filterList = function() {
				if ($scope.searchQuery) {
					// Reset pagination params and start pagination
					$scope.pageNo = 0;
					$scope.isPaginationStart = false;
					$scope.isPaginationCompleted = false;
					$scope.calls = [];

					$scope.paginate();
				} else {
					$scope.pageNo = 0;
					$scope.isPaginationStart = false;
					$scope.isPaginationCompleted = false;
					$scope.calls = [];

					$scope.paginate();
				}
			};

			$scope.paginate();
		});
		/*]]>*/
	</script>
</body>
</html>