<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<div th:replace="fragments/css" />
<title>Contacts</title>
</head>
<body>
	<div id="wrapper" ng-app="app">
		<div th:replace="fragments/siteheader"></div>
		<section id="content">
			<div class="container" ng-controller="PhoneBookController" id="PhoneBookController">
				<!-- search filter for contacts -->
				<div class="md-margin"></div>
				<div class="row">
					<div class="panel panel-info">
						<div class="panel-heading">
							<h3 class="panel-title">
							<img id="spinner" src="/resources/images/loading.GIF" style="display: none;" class="ajax-loader" />
							Search By</h3>
						</div>
						<div class="md-margin"></div>
						
						<div class="input-group col-md-10 col-sm-10">
							<span class="col-md-3 col-sm-3"> 
							<select class="form-control" ng-model="type"
								data-ng-change="filterList()"
								ng-options="type as type for type in searchTypes">

							</select> 
							</span>
							<span class="col-md-6 col-sm-6">
							<input type="text" class="form-control" ng-model="searchQuery"
								placeholder="Enter name or number starts with"
								data-ng-change="filterList()" />
							</span>
						</div>
						
					</div>
				</div>
				
				<div class="row">
					<div class="col-md-12">
						<div class="xs-margin"></div>

						<table class="table table-borderd" id="contacts-table">
							<thead>
								<tr>
									<th class="table-title">SN</th>
									<th class="table-title al">Mobile Number</th>
									<th class="table-title al">Contact Name</th>

								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="contact in contacts">
									<td><a> <!-- th:href="@{/contact/get/{{contact.id}}}" >-->
											{{$index+1}}
									</a></td>
									<td class="al">{{contact.number}}</td>
									<td class="al">{{contact.name}}</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</section>

		<div th:replace="fragments/footer"></div>
	</div>
	<div th:replace="fragments/js"></div>
	<script type="text/javascript">
		/*<![CDATA[*/

		$(function() {
			$(window).scroll(function() {
				if ($(window).scrollTop() + $(window).height() >= $('#contacts-table').offset().top + $('#contacts-table').height() - 200) {
					angular.element($('#PhoneBookController')).scope().startPagination();
				}
			});
		});
  
		var app = angular.module('app', []);
		app.controller("PhoneBookController", function($scope, $http) {

			$scope.pageNo = 0;
			$scope.contacts = [];
			$scope.isPaginationStart = false;
			$scope.isPaginationCompleted = false;
			
			$scope.searchTypes = [];
			$scope.searchTypes.push('Number');
			$scope.searchTypes.push('Name');
			$scope.type = 'Name';

			$scope.startPagination = function() {
				if (!$scope.isPaginationStart && !$scope.isPaginationCompleted) {
					$scope.isPaginationStart = true;
					$scope.paginate();
				}
			};

			$scope.paginate = function() {
				$scope.pageNo = $scope.pageNo + 1;
				var path = contextPath + '/phonebook/list/get/' + $scope.pageNo ;
				var searchTerm = "";
				
				if ($scope.searchQuery) {
					searchTerm = $scope.searchQuery;
					path = path + "/" + $scope.type + "/" + searchTerm;
				}
				
				$http({
					url : path,
					method : 'GET',
					dataType : 'json',
				}).then(function(dataResponse) {
					$scope.isPaginationStart = false;
					if (null == dataResponse || dataResponse.data.length == 0) {
						// empty result means pagination not required
						// more logicontacty we need the total pages for particular request 
						// to stop unwanted pagination request
						$scope.isPaginationCompleted = true;
						$scope.pageNo = $scope.pageNo - 1;
						return;
					}

					var contactsList = dataResponse.data;
				
					// newly coming product should be add to the old  
					$scope.contacts.push.apply($scope.contacts, contactsList);
				});
			};
			
			$scope.filterList = function() {
				if ($scope.searchQuery) {
					// Reset pagination params and start pagination
					$scope.pageNo = 0;
					$scope.isPaginationStart = false;
					$scope.isPaginationCompleted = false;
					$scope.contacts = [];

					$scope.paginate();
				} else {
					$scope.pageNo = 0;
					$scope.isPaginationStart = false;
					$scope.isPaginationCompleted = false;
					$scope.contacts = [];

					$scope.paginate();
				}

			};
			$scope.paginate();
		});
		/*]]>*/
	</script>
</body>
</html>