<!DOCTYPE html>
<!--[if IE 8]> <html class="ie8" xmlns:th="http://www.thymeleaf.org"> <![endif]-->
<!--[if IE 9]> <html class="ie9" xmlns:th="http://www.thymeleaf.org"> <![endif]-->
<!--[if !IE]><!-->
<html xmlns:th="http://www.thymeleaf.org">
<!--<![endif]-->
<head>
<div th:replace="fragments/css" />
<title>Login</title>

</head>
<body>
	<div th:replace="fragments/siteheader"></div>
	<br/>
	<br/>
	<br/>
	<div class="container clearfix">
		<p th:if="${loginerrpr}" class="alert alert-danger">
			Wrong email or password <input type="hidden" id="loginerror"
				value="1" />
		</p>
		
		<p th:if="${success}" class="alert alert-danger">
			Your password has been sent to your Email! <input type="hidden" id="loginerror"
				value="1" />
		</p>
		
		<p th:if="${error}" class="alert alert-danger">
			 Wrong email or username! <input type="hidden" id="loginerror"
				value="1" />
		</p>

		<div class="col-sm-6 col-md-4 col-md-offset-4">
			<div class="account-wall">
				<form th:action="@{/user/login}" method="post"
					class="form-horizontal form-signin" id="userlogin" scope="session">
					<fieldset>
						<div class="panel panel-primary col-lg-16">
							<div class="panel-heading">
								<h3 class="panel-title">Login</h3>
							</div>
							<div class="panel-body">
								<div class="form-group">
									<div class="col-md-12">
										<input name="username" type="text" class="form-control"
											id="username" placeholder="Enter Email or Username" />
									</div>
								</div>
								<br />
								<div class="form-group">
									<div class="col-md-12">
										<input name="password" type="password" class="form-control"
											id="password" placeholder="Enter Password"/>
									</div>
								</div>
								<br />
								<div class="input-group">
									<input type="submit" value="Log In"
										class="btn btn-info btn-lg"></input>&nbsp;&nbsp;&nbsp; <a
										th:href="@{/user/forgotPassword}"
										class="btn btn-info btn-lg" role="button"> <span
										class="glyphicon"></span>&nbsp;Forgot Password
									</a>
								</div>
							</div>
						</div>


					</fieldset>
				</form>
			</div>
		</div>
	</div>
	<div th:replace="fragments/footer"></div>
	<div th:replace="fragments/js"></div>
	<script type="text/javascript">
		$(function() {
			$("#userlogin").validate({
				rules : {
					username : {
						required : true
					},
					password : {
						required : true
					},
				},
				submitHandler : function(form) {
					$("#userlogin").unbind("submit").submit();
				}
			});
		});
	</script>
</body>
</html>