<!DOCTYPE html>
<!--[if IE 8]> <html class="ie8" xmlns:th="http://www.thymeleaf.org"> <![endif]-->
<!--[if IE 9]> <html class="ie9" xmlns:th="http://www.thymeleaf.org"> <![endif]-->
<!--[if !IE]><!-->

<html xmlns:th="http://www.thymeleaf.org">
<!--<![endif]-->
<head>
<div th:replace="fragments/css" />
<title>SMS</title>
</head>
<body>
	<div id="wrapper" ng-app="app">
		<div th:replace="fragments/siteheader"></div>
		<section id="content">
			<div class="container" ng-controller="SmsController"
				id="SmsController">
				<div class="md-margin"></div>
				<!-- search filter for sms -->
				<div class="row">
					<!-- Search filter starts -->
					<div class="panel panel-info">
						<div class="panel-heading">
							<h3 class="panel-title">
								<img id="spinner" src="/resources/images/loading.GIF"
									style="display: none;" class="ajax-loader" /> Search By
							</h3>
						</div>
						<div class="md-margin"></div>

						<div class="input-group col-md-10 col-sm-10">
							<span class="col-md-3 col-sm-3"> <select
								class="form-control" ng-model="type"
								data-ng-change="filterList()"
								ng-options="type as type for type in searchTypes">
								
							</select>
							</span>
							<span class="col-md-6 col-sm-6"> 
							<input type="text" class="form-control" ng-model="searchQuery"
								placeholder="Enter message, name or number starts with"
								data-ng-change="filterList()" />
							</span>
						</div>

					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<div class="xs-margin"></div>

						<table class="table table-borderd" id="sms-table">
							<thead>
								<tr>
									<th class="table-title">SN</th>
									<th class="table-title">Message</th>
									<th class="table-title al">Date</th>
									<th class="table-title al">Mobile Number</th>
									<th class="table-title al">Contact Name</th>
									<th class="table-title al">SMS Type</th>
									<!-- <th class="table-title">Action</th> -->
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="sms in smses">
									<td><a> <!-- th:href="@{/sms/get/{{sms.id}}}" >-->
											{{$index+1}}
									</a></td>
									<td class="al">{{sms.message}}</td>
									<td class="al">{{sms.date}}</td>
									<td class="al">{{sms.from}}</td>
									<td class="al">{{sms.contactName}}</td>
									<td class="al">{{sms.actualSmsType}}</td>
									<!-- <td>
										<table>
											<tr>
												<td>
													<div>
														<button type="button" title="Delete"
															ng-click="deleteSms($index);">
															<span class="glyphicon glyphicon-trash" />
														</button>
													</div>
												</td>
											</tr>
										</table>
									</td> -->
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</section>

		<div th:replace="fragments/footer"></div>
	</div>
	<div th:replace="fragments/js"></div>
	<script type="text/javascript">
		/*<![CDATA[*/

		$(function() {
			$(window).scroll(function() {
				if ($(window).scrollTop() + $(window).height() >= $('#sms-table').offset().top + $('#sms-table').height() - 200) {
					angular.element($('#SmsController')).scope().startPagination();
				}
			});
		});

		var app = angular.module('app', []);
		app.controller("SmsController", function($scope, $http) {

			$scope.searchTypes = [];
			$scope.searchTypes.push('Message');
			$scope.searchTypes.push('Number');
			$scope.searchTypes.push('Name');
			$scope.type='Message';
			
			
			$scope.pageNo = 0;
			$scope.smses = [];
			$scope.isPaginationStart = false;
			$scope.isPaginationCompleted = false;

			$scope.startPagination = function() {
				if (!$scope.isPaginationStart && !$scope.isPaginationCompleted) {
					$scope.isPaginationStart = true;
					$scope.paginate();
				}
			};

			$scope.paginate = function() {
				debugger;
				$scope.pageNo = $scope.pageNo + 1;
				var path = contextPath + '/sms/list/get/' + $scope.pageNo ;
				var searchTerm = "";
				if ($scope.searchQuery) {
					searchTerm = $scope.searchQuery;
					path = path + "/" + $scope.type + "/" + searchTerm;
				}
				$http({
					url : path,
					method : 'GET',
					dataType : 'json',
				}).then(function(dataResponse) {
					$scope.isPaginationStart = false;
					if (null == dataResponse || dataResponse.data.length == 0) {
						// empty result means pagination not required
						// more logismsy we need the total pages for particular request 
						// to stop unwanted pagination request
						$scope.isPaginationCompleted = true;
						$scope.pageNo = $scope.pageNo - 1;
						return;
					}

					var smsesList = dataResponse.data;

					// newly coming sms should be add to the old  
					$scope.smses.push.apply($scope.smses, smsesList);
				});
			};

			$scope.deleteSms = function(index) {
				var result = confirm("Want to delete?");
				if (result == true) {
					//debugger;
					var smsId = this.sms.serverSmsId;
					$http({
						url : contextPath + "/sms/delete/" + smsId,
						method : 'GET',
						dataType : 'json',
					}).then(function(dataResponse) {
						var data = dataResponse.data;
						if (data.status == "success") {
							$.growl('The sms is deleted successfully.', {
								type : 'success'
							});
							$scope.smses.splice(index, 1);
						} else {
							$.growl("Error occured while deleting the batch.", {
								type : 'danger'
							});
						}
					});
				}
			}
			$scope.filterList = function() {
				if ($scope.searchQuery) {
					// Reset pagination params and start pagination
					$scope.pageNo = 0;
					$scope.isPaginationStart = false;
					$scope.isPaginationCompleted = false;
					$scope.smses = [];

					$scope.paginate();
				} else {
					$scope.pageNo = 0;
					$scope.isPaginationStart = false;
					$scope.isPaginationCompleted = false;
					$scope.smses = [];

					$scope.paginate();
				}
					
			};

			$scope.paginate();
		});

		/*]]>*/
	</script>
</body>
</html>